<h1>Books</h1>

<% @books.each do |book| %>

  <div>
    <%= flash[:destroy] %>
  </div>
  
  <p>Title</p>
  <span>
    <%= book.title %>
  </span>
  
  <p>Body</p>
  <span>
    <%= book.body %>
  </span>
  
<%= link_to 'Show', book_path(book.id) %>
<%= link_to 'edit', edit_book_path(book.id) %>
<%= form_with url: book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" do |f| %>
  <%= f.submit 'Destroy' %>
<% end %>

<% end %>

